@{
    ViewData["Title"] = "Home Page";
    Layout= "~/Views/Shared/_Beforelogin1.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;background: linear-gradient(rgb(35 35 59 / 0.70), rgb(35 35 59 / 0.70)), url(https://thumbs.dreamstime.com/b/general-view-factory-s-industrial-premises-inside-flat-style-blue-tones-injection-molding-machines-hydraulic-171899243.jpg); background-blend-mode:multiply; background-repeat: no-repeat; background-position: center; background-size: cover;">
    <h1 class="text-light box-shadow px-5 py-3" style="background-color:rgb(52 100 153 / 0.95); border-radius: 80px; margin-top: -10%; font-weight: bolder; position: fixed; ">W E L C O M E</h1>
    <div class="justify-content-center align-items-center">
        <img src="https://5.imimg.com/data5/SELLER/Default/2022/3/ZH/XH/OF/2043842/rfq-management-proposal-management-software-500x500.png" height="250" width="500" />
    </div>
</div>
