@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
    Layout= "~/Views/Shared/_Afterlogin.cshtml";
}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%;background: linear-gradient(rgb(35 35 59 / 0.70), rgb(35 35 59 / 0.70));">
    <h1 class="text-light box-shadow px-5 py-3" style="background-color:rgb(60 100 153 / 0.95); border-radius: 100px; margin-top: -10%; font-weight: bolder; position: fixed; ">Welcome to Rfq Manufacturing Unit</h1>
    <div class="justify-content-center align-items-center">
        <img src="https://thumbs.dreamstime.com/b/general-view-factory-s-industrial-premises-inside-flat-style-blue-tones-injection-molding-machines-hydraulic-171899243.jpg" height="1000" width="1000" />
    </div>
</div>